@using StockMount.Out.Sample.Utils.Language
@{
    ViewBag.Title = @Message.GetMessage(MessageCode.GetIntegrationShipmentCompaniesService, Culture);
}
<div class="caption-full">
    <h2>@Message.GetMessage(MessageCode.GetIntegrationShipmentCompaniesService, Culture)</h2>

    <div class="clearfix">
        <hr />
    </div>
    <p>
        <strong>@Message.GetMessage(MessageCode.Description, Culture):</strong>
        <br /> @Html.Raw(Message.GetMessage(MessageCode.GetIntegrationShipmentCompaniesServiceDescription, Culture))
         
    </p>
    <p>
        <strong>@Message.GetMessage(MessageCode.RequestType, Culture):</strong>
        <br />  Post
    </p>
    <p>
        <strong>@Message.GetMessage(MessageCode.RequestUrl, Culture): </strong>
        <br /> https://out.stockmount.com/api/Integration/GetIntegrationShipmentCompanies
    </p>

    <a class="btn btn-success" id="btn-test">@Message.GetMessage(MessageCode.TestService, Culture) </a>

    <div class="well display-none margin-top-10" id="test-area">
        
        <div class="form-group">
            <label for="integration">@Message.GetMessage(MessageCode.IntegrationId, Culture)  </label>
            <select class="form-control" id="integration">
                <option value="0" selected="selected">@Message.GetMessage(MessageCode.SelectIntegration, Culture) </option>
                <option value="1">GiittiGidiyor</option>
                <option value="2">N11</option>
                <option value="3">NeTicaret</option>
                <option value="4">ePTTAvm</option>
                <option value="5">OpenCart</option>
                <option value="6">SanalPazar</option>
                <option value="9999">StockMount</option>
            </select>  
        </div>

        
        

        <a class="btn btn-success" id="btn-execute">@Message.GetMessage(MessageCode.Execute, Culture) </a>
        <div class="clearfix"></div>
        <br />
        <div class="bg-warning display-hide" id="response-area">

        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/js/GetIntegrationShipmentCompanies")
    <script type="text/javascript">
        $(document).ready(function () {
            GetIntegrationShipmentCompanies.init();
        });

    </script>
}
